<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="881"
    android:versionName="8.8.1"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="com.luutinhit.launcherios"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="35"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true"/>
    <uses-permission android:name="com.luutinhit.launcherios.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.luutinhit.launcherios.permission.WRITE_SETTINGS"/>
    <permission
        android:name="com.luutinhit.launcherios.permission.RECEIVE_LAUNCH_BROADCASTS"
        android:protectionLevel="signature"/>
    <permission
        android:name="com.luutinhit.launcherios.permission.RECEIVE_FIRST_LOAD_BROADCAST"
        android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.luutinhit.launcherios.permission.RECEIVE_LAUNCH_BROADCASTS"/>
    <uses-permission android:name="com.luutinhit.launcherios.permission.RECEIVE_FIRST_LOAD_BROADCAST"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <permission
        android:name="com.luutinhit.launcherios.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.luutinhit.launcherios.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="androidx.multidex.MultiDexApplication"
        android:process=":ios_launcher"
        android:backupAgent="com.luutinhit.launcher6.LauncherBackupAgentHelper"
        android:allowBackup="@bool/enable_backup"
        android:restoreAnyVersion="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:fullBackupOnly="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backupscheme"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <activity
            android:theme="@style/TransparentActivity"
            android:name="com.luutinhit.launcher6.widget.widgetprovider.config.PictureAppWidgetProviderConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme"
            android:name="com.luutinhit.launcherios.activity.FakeLauncher"
            android:enabled="false"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SplashTheme"
            android:name="com.luutinhit.launcherios.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="http"
                    android:host="www.luutinhit.blogspot.com"
                    android:pathPrefix="/2018/11/launcher-ios.html"/>
                <data
                    android:scheme="https"
                    android:host="www.luutinhit.blogspot.com"
                    android:pathPrefix="/2018/11/launcher-ios.html"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/TransparentNavigationStatus"
            android:name="com.luutinhit.launcherios.MainActivity"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.WeatherConfigActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:launchMode="singleTop"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.BlurConfigActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.LiquidGlassConfigActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:label="@string/pick_wallpaper"
            android:name="com.luutinhit.launcherios.activity.WallpaperActivity"
            android:exported="true"
            android:process=":ios_launcher"
            android:configChanges="screenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.HiddenAppsActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.IconChangeActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.cropper.CropImageActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.LabelChangeActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.AppsLibraryCategoryActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.EditWidgetActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.ConfigDockActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.UtilitiesActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.StatusBarAndNotificationActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/TransparentNavigationStatus_Black"
            android:name="com.luutinhit.launcherios.activity.AnimationsActivity"
            android:exported="false"
            android:process=":ios_launcher"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:theme="@style/ActivityLiveWallpaper"
            android:name="com.luutinhit.wallpaper.activity.LiveWallpaperActivity"
            android:exported="true"
            android:process=":ios_launcher"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <activity
            android:label="@string/settings_button_text"
            android:name="com.luutinhit.launcher6.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|screenLayout|orientation"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:theme="@style/WeatherActivityTheme"
            android:label="@string/weather"
            android:icon="@drawable/new_weather_icon"
            android:name="com.luutinhit.weather.WeatherActivity"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/WeatherTheme"
            android:name="com.luutinhit.weather.WeatherCitiesActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/TransparentActivity"
            android:name="com.luutinhit.launcherios.activity.RatingActivity"
            android:exported="false"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/Theme"
            android:name="com.luutinhit.launcher6.ioslauncher.IOSLauncher"
            android:enabled="true"
            android:exported="true"
            android:process=":ios_launcher"
            android:taskAffinity=""
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="navigation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustNothing"
            android:resumeWhilePausing="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER_APP"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.luutinhit.launcher6.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT"
            android:exported="true"
            android:process=":ios_launcher">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.luutinhit.launcher6.StartupReceiver"
            android:exported="true"
            android:process=":ios_launcher">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.luutinhit.launcherios.receiver.UpdateReceiver"
            android:exported="true"
            android:process=":ios_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:label="@string/weather"
            android:name="com.luutinhit.launcher6.widget.widgetprovider.WeatherAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.luutinhit.ACTION_UPDATE_WEATHER_WIDGET"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_provider_info"/>
        </receiver>
        <receiver
            android:label="@string/battery"
            android:name="com.luutinhit.launcher6.widget.widgetprovider.BatteryWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.luutinhit.ACTION_UPDATE_BATTERY_WIDGET"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/battery_widget_provider_info"/>
        </receiver>
        <receiver
            android:label="@string/clock"
            android:name="com.luutinhit.launcher6.widget.widgetprovider.AnalogClockWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_clock_widget_provider_info"/>
        </receiver>
        <receiver
            android:label="@string/picture"
            android:name="com.luutinhit.launcher6.widget.widgetprovider.PictureAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/picture_app_widget_provider_info"/>
        </receiver>
        <provider
            android:name="com.luutinhit.launcher6.LauncherProvider"
            android:readPermission="com.luutinhit.launcherios.permission.READ_SETTINGS"
            android:writePermission="com.luutinhit.launcherios.permission.WRITE_SETTINGS"
            android:exported="true"
            android:process=":ios_launcher"
            android:authorities="com.luutinhit.launcherios.settings"
            android:initOrder="1000"/>
        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true"/>
        <service
            android:name="com.luutinhit.launcher6.widget.widgetprovider.service.WeatherJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name="com.luutinhit.launcherios.notification.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:enabled="true"
            android:exported="false"
            android:process=":ios_launcher">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service
            android:label="@string/wallpaper_button_text"
            android:name="com.luutinhit.wallpaper.livewallpaper.LiveWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper"/>
        </service>
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyCuEVMpPzPANuOwS-yyXZeWeN_OFwM1eP8"/>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_app_id"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:exported="false"
            android:authorities="com.luutinhit.launcherios.mobileadsinitprovider"
            android:initOrder="100"/>
        <service
            android:name="com.google.android.gms.ads.AdService"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name="com.google.android.gms.ads.OutOfContextTestingActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.ads.NotificationHandlerActivity"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.luutinhit.launcherios.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.pairip.licensecheck.LicenseActivity"
            android:exported="false"/>
        <provider
            android:name="com.pairip.licensecheck.LicenseContentProvider"
            android:exported="false"
            android:authorities="com.luutinhit.launcherios.com.pairip.licensecheck.LicenseContentProvider"/>
        <provider
            android:name="com.pairip.licensecheck.LicenseContentProvider1"
            android:exported="false"
            android:process=":ios_launcher"
            android:authorities="com.luutinhit.launcherios.com.pairip.licensecheck.LicenseContentProvider1"/>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="4"/>
    </application>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
</manifest>
